@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddLink</title>
</head>
<body>
    <div>
        <form action="/Main/AddLink" method="GET">
            URL : <input type="text" id="IDnume" name="url_link" /> <br />
            Description : <input type="text" id="IDpassword" name="Description" /> <br />
            Category : <input type="text" id="IDgroup_id" name="Category" /> <br />
            <input type="submit" value="Add Link" />
        </form>
    </div>
</body>
</html>


